@inherits LayoutComponentBase
@inject SessionManager Session

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (User is UserSessionInformation cu && cu.Session != default)
            {
                <a class="user-data user-data-name" href="/UserInfo">@cu.Username</a>
            }
            else
            {
                <a class="btn btn-secondary user-data user-data-name" href="/Login">Login</a>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    UserSessionInformation? User;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        User = await Session.FetchCurrentUser();
        await base.OnAfterRenderAsync(firstRender);
    }
}